{{- define "main" -}}

<h2 class="category-header">Traffic Management</h2>
<div class="wrapper">
    {{ range $.Site.Data.items.traffic }}
    <div class="wrapper-box">
        <a class="example-link" href="{{- .url -}}">
            <img class="example-thumbnail" src="{{.thumb}}" alt="{{.title}}" />
            <p class="example-title">{{- .title -}}</p>
        </a>
    </div>
    {{ end }}
</div>

<h2 class="category-header">Security</h2>
<div class="wrapper">
    {{ range $.Site.Data.items.security }}
    <div class="wrapper-box">
        <a class="example-link" href="{{- .url -}}">
            <img class="example-thumbnail" src="{{.thumb}}" alt="{{.title}}" />
            <p class="example-title">{{- .title -}}</p>
        </a>
    </div>
    {{ end }}
</div>

<h2 class="category-header">Observability</h2>
<div class="wrapper">
    {{ range $.Site.Data.items.observability }}
    <div class="wrapper-box">
        <a class="example-link" href="{{- .url -}}">
            <img class="example-thumbnail" src="{{.thumb}}" alt="{{.title}}" />
            <p class="example-title">{{- .title -}}</p>
        </a>
    </div>
    {{ end }}
</div>

{{- end -}}